
@import './base.pcss';
@import './var-colors.pcss';
@import './var-elevs.pcss';

@import './d-base-input.pcss';

@import './d-base-toggle.pcss';

* {
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}