d-radio.d-field, .d-radio{
	.ipt{
		height: 1.5rem;
		svg.symbol{
			fill: var(--d-field-choice-bdr);
		}			
	}	
	&[checked]{
		.ipt{
			svg.symbol{
				fill: var(--d-field-choice-bdr-on);
			}			
		}
	}
}