d-text.d-field{
	
	d-ico{
		padding-top: .25rem;
		align-items: flex-start;
	}
	
	textarea.ipt{
		padding-top: .25rem;
		resize: none;
	}
	&.no-value:not([placeholder]):not(.focused){
		& > label{
			padding-top: .25rem;
			align-items: flex-start;
		}
	}
}